.env
docere/__pycache__/
.vscode/
registration/migrations/__pycache__/
registration/__pycache__/
virtualroom/migrations/__pycache__/
virtualroom/__pycache__/
information/migrations/__pycache__/
information/__pycache__/
evaluation/migrations/__pycache__/
evaluation/__pycache__/
docere/templatetags/__pycache__/
assets-root/