.env
docere/__pycache__/
.vscode/
apps/registration/migrations/__pycache__/
apps/registration/__pycache__/
apps/virtualroom/migrations/__pycache__/
apps/virtualroom/__pycache__/
apps/information/migrations/__pycache__/
apps/information/__pycache__/
apps/evaluation/__pycache__/
apps/evaluation/migrations/__pycache__/
docere/templatetags/__pycache__/
apps/virtualroom/api/__pycache__/
docere/api/__pycache__/
assets-root/
*pycache