[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
whitenoise = "*"
django-environ = "*"
gunicorn = "*"
psycopg2-binary = "*"
django-macros = "*"

[dev-packages]

[requires]
python_version = "3.8"
