{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block head_css %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock head_css %}
{% block title %}
Registrarse
{% endblock title %}
{% block content %}

<div class="container register">

    <div class="row">
        <div class="col-5"></div>
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    {% if form.errors %}
                    <p>Tu usuario y contraseña no coinciden. Intente otra vez.</p>
                    {% endif %}

                    {% if next %}
                        {% if user.is_authenticated %}
                        <p>Tu cuenta no tiene acceso a esta página. Para proceder, por favor inicia sesión con una cuenta que tiene acceso.</p>
                        {% else %}
                        <p>Por favor inicia sesión para ver esta página.</p>
                        {% endif %}
                    {% endif %}

                    <form method="post" action="{% url 'register' %}">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <small id="passwordHelpBlock" class="form-text text-muted">
                        ¿Ya estás registrado?, Inicia sesión <a href="{% url 'login' %}">aquí.</a>
                        </small>
                        <input type="submit" value="Registrarme" class="btn btn-primary" />
                        <input type="hidden" name="next" value="{{ next }}" />

                    </form>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>

{% endblock content %}