{% extends 'base_wn.html' %}
{% load static %}

{% block head_css %}
<link rel="stylesheet" href="{% static 'css/virtualrooms.css' %}">
{% endblock head_css %}

{% block title %}Dashboard{% endblock title %}

{% block scripts_tags %}{% endblock scripts_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Mis clases</h1>
        </div>
    </div>
    <div class="row">
    {% for room in rooms %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="{{room.photo.url}}" class="card-img-top" alt="{{ room.name }}">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                </div>
        </div>
    {% endfor %}
        
    </div>
</div>
{% endblock content %}

