{% extends 'base_ws.html' %}
{% load static %}

{% block head_css %}
<link rel="stylesheet" href="{% static 'css/virtualrooms.css' %}">
{% endblock head_css %}

{% block title %}Dashboard{% endblock title %}

{% block scripts_tags %}{% endblock scripts_tags %}

{% block content %}
<div class="container">
    <div class="row">
        {% if archived %}
        
        <div class="col-6 col-md-8">
            <h1>Mis clases archivadas</h1>
        </div>
        {% else %}
        <div class="col-6 col-md-8">
            <h1>Mis clases</h1>
        </div>
        {% endif %}
    </div>
    <div class="row">
    {% if not rooms %}
        <div class="col-12">
            <div class="alert alert-danger d-flex align-items-center" role="alert">
            <i class="bi bi-exclamation-lg"></i>
            <div>
                Por el momento no tenemos nada que mostrar aquí :D
            </div>
            </div>
        </div>
    {% endif %}
    {% for room in rooms %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="{{room.photo.url}}" class="card-img-top" alt="{{ room.name }}">
                <div class="card-body">
                    <div class="encabezado">
                        <h5 class="card-title">{{ room.name }}</h5>
                        <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="virtualroomsoptions" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-gear"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="virtualroomsoptions">
                            <li><a class="dropdown-item" href="{% url 'virtualroom_update' room.pk %}">Editar</a></li>
                            <li><a class="dropdown-item" href="{% url 'virtualroom_archive' room.pk %}">{% if archived %}Desarchivar{% else %}Archivar{% endif %}</a></li>
                            <li><a class="dropdown-item" href="{% url 'virtualroom_delete' room.pk %}">Eliminar</a></li>
                        </ul>
                        </div>
                    </div>
                    
                    <p class="card-text">{{ room.description }}</p>
                    <a href="#" class="btn btn-primary">Ir a la clase</a>
                </div>
                </div>
        </div>
    {% endfor %}
    </div>
    
</div>
{% endblock content %}

