{% extends 'base_ws.html' %}
{% load bootstrap5 %}
{% load static %}

{% block head_css %}
<link rel="stylesheet" href="{% static 'css/virtualrooms.css' %}">
{% endblock head_css %}

{% block title %}|Crear clase virtual{% endblock title %}

{% block scripts_tags %}{% endblock scripts_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card bg-dark text-white">
                <img src="{{ virtualroom.photo.url }}" class="card-img" alt="virtualroom.name" height="250">
                <div class="card-img-overlay">
                    <h5 class="card-title">{{ virtualroom.name }}</h5>
                    <p class="card-text">{{ virtualroom.description }}.</p>
                    <p class="card-text">Creado el: {{ virtualroom.creation_date }}</p>
                    <p class="card-text">Creado por: {{ virtualroom.creator }}</p>
                    <div class="d-flex flex-row-reverse">
                        <div class="dropdown">
                        <button class="btn bg-primario text-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            {{enrollmentStatus}}
                        </button>
                        {% if virtualroom.creator == user %}
                        <ul class="dropdown-menu" aria-labelledby="virtualroomsoptions">
                            <li><a class="dropdown-item" href="{% url 'virtualroom_update' virtualroom.pk %}">Editar</a></li>
                            <li><a class="dropdown-item" href="{% url 'virtualroom_archive' virtualroom.pk %}">{% if archived %}Desarchivar{% else %}Archivar{% endif %}</a></li>
                            <li><a class="dropdown-item" href="{% url 'virtualroom_delete' virtualroom.pk %}">Eliminar</a></li>
                        </ul>
                        {% elif enrollmentStatus == "No matriculado" %}
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="{% url 'setstatusenrolled' virtualroom.pk 'enroll' %}">Enviar solicitud</a></li>
                            </ul>
                        {% elif enrollmentStatus == "Ya eres miembro"  %}
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="{% url 'setstatusenrolled' virtualroom.pk 'retired' %}">Abandonar el grupo</a></li>
                            </ul>
                        {% elif  enrollmentStatus == "Solicitud rechazada" or enrollmentStatus == "Abandonastes del grupo"  %}
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="{% url 'setstatusenrolled' virtualroom.pk 'enrollagain' %}">Enivar la solicitud otra vez</a></li>
                            </ul>
                        {% elif  enrollmentStatus == "Expulsado del grupo" %}
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li>XD (espera a que te inviten)</li>
                            </ul>
                        {% elif enrollmentStatus == "Solicitud pendiente de que la acepten"  %}
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="{% url 'setstatusenrolled' virtualroom.pk 'cancel' %}">Cancelar</a></li>
                            </ul>
                        {% endif %}
                        </div>                  
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Inicio</button>
                </li>
                <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Notas</button>
                </li>
                <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Participantes</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Home</div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Profile</div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Contact</div>
            </div>
        </div>
    </div>
</div>
<script>
var triggerTabList = [].slice.call(document.querySelectorAll('#myTab'))
triggerTabList.forEach(function (triggerEl) {
  var tabTrigger = new bootstrap.Tab(triggerEl)

  triggerEl.addEventListener('click', function (event) {
    event.preventDefault()
    tabTrigger.show()
  })
})
</script>
{% endblock content %}

