{% extends 'virtualroom/base_vr.html' %}
{% load bootstrap5 %}
{% load static %}
{% load filename %}
{% load evaluations_by_student %}

{% block content_only_enrollments %}
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Inicio</button>
                </li>
                <li class="nav-item" role="presentation">
                <button class="nav-link" id="asignaciones-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="asignaciones" aria-selected="false">Asignaciones</button>
                </li>
                <li class="nav-item" role="presentation">
                <button class="nav-link" id="participants-tab" data-bs-toggle="tab" data-bs-target="#participants" type="button" role="tab" aria-controls="participants" aria-selected="false">Participantes</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="container p-0 p-md-2">
                    <div class="row">
                        <div class="col-12">
                            {% if not virtualroom.sections.all %}
                            <div class="alert alert-danger" role="alert">
                            Esta clase no tiene secciones
                            </div>
                            {% endif %}
                        </div>
                        {% for section in virtualroom.sections.all %}
                        <div class="col-12 m-md-2">
                            <div class="d-flex flex-row align-items-center justify-content-between">
                                <h3>{{section.name}}</h3>
                            <!-- Button trigger modal, si es 1 es porque es profgesor -->
                                {% if section.virtualroom.creator == user or enrollment.rol == 1 %}
                                    <div class="d-flex flex-row">
                                    <h3 class="" data-bs-toggle="modal" data-bs-target="#addTopicS{{ section.pk }}" id="tema">
                                    <i class="bi bi-plus-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar nuevo tema"></i>
                                    </h3>
                                    <h3 data-bs-toggle="modal" data-bs-target="#editSection{{section.pk}}" ><span class="text-success" data-bs-toggle="tooltip" data-bs-placement="right" title="Editar la sección"><i class="bi bi-pencil-square"></i></span></h3>
                                    <h3><a href="{% url 'deletesection' section.pk %}" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="right" title="Eliminar la sección y sus temas"><i class="bi bi-trash"></i></a></h3>
                                    </div>


                                    <!-- Modal -->
                                    <div class="modal fade" id="editSection{{section.pk}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editSection{{section.pk}}Label" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editSection{{section.pk}}Label">Editar el nombre de la sección</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <form action="{% url 'editsection' section.pk %}" method="post">
                                        <div class="modal-body">
                                            {% csrf_token %}
                                            <label for="name" class="form-label">Nuevo nombre: </label>
                                            <input type="text" id="name" class="form-control" name="name" value="{{section.name}}">
                                            
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-primary">Cambiar</button>
                                        </div>
                                        </form>
                                        </div>
                                    </div>
                                    </div>
                                {% endif %}
                            </div>
                                {% if section.virtualroom.creator == user or enrollment.rol == 1 %}
                                <!-- Modal -->
                                <div class="modal fade" id="addTopicS{{ section.pk }}" tabindex="-1" aria-labelledby="addTopicS{{ section.pk }}Label" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="addTopicS{{ section.pk }}Label">Agregar tema</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form action="{% url 'createtopic' section.pk %}" method="post" enctype='multipart/form-data'>
                                        <div class="modal-body">
                                            {% csrf_token %}
                                            {% bootstrap_form formAddTopic %}
                                            {% bootstrap_form formAddTopicFields %}
                                            
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </form>
                                    </div>
                                </div>
                                </div>
                                {% endif %}

                            <hr>
                            <div class="container">
                                <div class="row">
                                    {% for topic in section.topics.all %}
                                        <div class="col-12 my-2">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h4 class="card-title">
                                                        {{topic.name}}
                                                        {% if section.virtualroom.creator == user or enrollment.rol == 1 %}
                                                         <a class="text-success" href="{% url 'edittopic' topic.pk %}" data-bs-toggle="tooltip" data-bs-placement="right" title="Editar"><i class="bi bi-pencil-square"></i></a>
                                                         <a href="{% url 'deletetopic' topic.pk %}" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="right" title="Eliminar"><i class="bi bi-trash"></i></a>
                                                        {% endif %}
                                                    </h4>
                                                    <p class="card-text">
                                                        {{topic.description}}
                                                    </p>
                                                </div>
                                                <div class="card-body container">
                                                <div class="row">
                                                    {% for document in topic.documents.all %}
                                                        <a href="{{document.file.url}}" download class="col m-1"> <i class="bi bi-arrow-down-square-fill"></i> {{document.file | filename}}</a>
                                                    {% endfor %}
                                                
                                                </div>
                                                </div>
                                            </div>
                                        </div>

                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                </div>

                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="asignaciones-tab">
                <div class="container p-0 p-md-2">
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                            <table class="table align-middle">
                            <thead>
                                <tr>
                                <th scope="col">Estudiante  
                                <span class="h4" data-bs-toggle="modal" data-bs-target="#addEvaluation">
                                {% if virtualroom.creator == user or enrollment.rol == 1 %}
                                <i class="bi bi-file-earmark-plus" data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar evaluación"></i>
                                {% endif %}
                                </span>
                                </th>
                                {% for evaluation in virtualroom.evaluations.all %}
                                <th scope="col" >
                                <span {% if evaluation.description %}data-bs-toggle="tooltip" data-bs-placement="top" title="{{evaluation.description}}"{% endif %}>{{evaluation.name}}</span>
                                
                                {% if virtualroom.creator == user or enrollment.rol == 1 %}

                                <i class="bi bi-pencil-square text-warning" data-bs-toggle="modal" data-bs-target="#editEvaluation{{evaluation.pk}}"></i>
                                <i class="bi bi-trash text-danger" data-bs-toggle="modal" data-bs-target="#deleteEvaluation{{evaluation.pk}}"></i>
                                
                                <div class="modal fade" id="editEvaluation{{evaluation.pk}}" tabindex="-1" aria-labelledby="editEvaluation{{evaluation.pk}}Label" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editEvaluation{{evaluation.pk}}Label">Editar</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <form action="{% url 'updateevaluation' evaluation.pk %}" method="post">
                                        <div class="modal-body">
                                            {% csrf_token %}
                                                <div class="mb-3">
                                                    <label for="name" class="form-label">Nombre de la evaluación</label>
                                                    <input type="text" class="form-control" required id="name" name="name" value="{{evaluation.name}}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="description" class="form-label">Descripción</label>
                                                    <textarea class="form-control" id="description" name="description" rows="2">{{evaluation.description}}</textarea>
                                                </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-primary">Editar evaluación</button>
                                        </div>
                                        </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="deleteEvaluation{{evaluation.pk}}" tabindex="-1" aria-labelledby="deleteEvaluation{{evaluation.pk}}Label" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteEvaluation{{evaluation.pk}}Label">Eliminar Evaluación</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h5>¿Seguro que quieres eliminar la evaluación?</h5>

                                            <h6>Como es de esperar, se eliminarán todas la información relacinoada a ella</h6>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            <a href="{% url 'deleteevaluation' evaluation.pk %}" class="btn btn-danger">Si, eliminar</a>
                                        </div>
                                        </form>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                </th>
                                {% endfor %}
                                </tr>
                            </thead>
                            <tbody>

                                {% for student in virtualroom.enrollments.all %}
                                <tr>
                                {% if student.rol == 0 and student.state == 3 %}
                                    <th scope="row">
                                    <a class="text-dark" href="{% url 'profile' student.user.pk %}">
                                    @{{student.user.username}}</a></th>
                                    {% for evaluation in virtualroom.evaluations.all %}
                                    {% if not student|evaluations_by_student:evaluation %}
                                        <td>
                                        <div class="alert alert-danger" role="alert">
                                        Sin registros 
                                        {% if virtualroom.creator == user or enrollment.rol == 1 %}
                                            <span class="alert-link" data-bs-toggle="modal" data-bs-target="#addPuntuationE{{evaluation.pk}}-S{{student.pk}}"><i class="bi bi-plus-square-fill"></i></span>
                                        {% endif %}
                                        </div>
                                        </td>
                                        {% if virtualroom.creator == user or enrollment.rol == 1 %}
                                        <div class="modal fade" id="addPuntuationE{{evaluation.pk}}-S{{student.pk}}" tabindex="-1" aria-labelledby="addPuntuationE{{evaluation.pk}}-S{{student.pk}}Label" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="addPuntuationE{{evaluation.pk}}-S{{student.pk}}Label">Agregar puntuación</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <form action="{% url 'createpuntuation' evaluation.pk student.pk %}" method="post">
                                            <div class="modal-body">
                                                {% csrf_token %}
                                                    <div class="mb-3">
                                                        <label for="amount" class="form-label">Nota</label>
                                                        <input type="number" min="0" max="100" class="form-control" required id="amount" name="amount">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="observation" class="form-label">Observaciones</label>
                                                        <textarea class="form-control" id="observation" name="observation" rows="2"></textarea>
                                                    </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                <button type="submit" class="btn btn-primary">Agregar puntuación</button>
                                            </div>
                                            </form>
                                            </div>
                                        </div>
                                        </div>
                                        {% endif %}
                                    {% else %}
                                        {% for puntuation in student|evaluations_by_student:evaluation %}
                                        <td>
                                            <span {% if puntuation.observation %}data-bs-toggle="tooltip" data-bs-placement="top" title="{{puntuation.observation}}"{% endif %}>{{puntuation.amount}}</span>
                                            {% if virtualroom.creator == user or enrollment.rol == 1 %}
                                            <i class="bi bi-pencil-square text-warning" data-bs-toggle="modal" data-bs-target="#editPuntuation{{puntuation.pk}}"></i>
                                            <i class="bi bi-trash text-danger" data-bs-toggle="modal" data-bs-target="#deletePuntuation{{puntuation.pk}}"></i>
                                            <div class="modal fade" id="editPuntuation{{puntuation.pk}}" tabindex="-1" aria-labelledby="editPuntuation{{puntuation.pk}}Label" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="editPuntuation{{puntuation.pk}}Label">Editar Puntuación</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <form action="{% url 'updatepuntuation' puntuation.pk %}" method="post">
                                                    <div class="modal-body">
                                                        {% csrf_token %}
                                                            <div class="mb-3">
                                                                <label for="amount" class="form-label">Nota</label>
                                                                <input type="number" min="0" max="100" required class="form-control" required id="amount" name="amount" value="{{puntuation.amount}}">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="observation" class="form-label">Observaciones</label>
                                                                <textarea class="form-control" id="observation" name="observation" rows="2">{{amount.observation}}</textarea>
                                                            </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                        <button type="submit" class="btn btn-primary">Editar puntuación</button>
                                                    </div>
                                                    </form>
                                                </div>
                                            </div>
                                            </div><div class="modal fade" id="deletePuntuation{{puntuation.pk}}" tabindex="-1" aria-labelledby="deletePuntuation{{puntuation.pk}}Label" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deletePuntuation{{puntuation.pk}}Label">Eliminar?</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="h6">Esto es irreversible</div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <a href="{% url 'deletepuntuation' puntuation.pk %}" class="btn btn-danger">Si, eliminar</a>
                                                </div>
                                                </div>
                                            </div>
                                            </div>
                                            {% endif %}
                                            
                                        </td>
                                        {% endfor %}
                                    {% endif %}
                                    
                                    {% endfor %}
                                {% endif %}
                                </tr>
                                {% endfor %}

                            </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
                
                </div>
                <div class="tab-pane fade" id="participants" role="tabpanel" aria-labelledby="participants-tab">
                <div class="container p-0 p-md-2">
                    <div class="row">
                    {% if not participants %}
                       <div class="col-12">
                            <div class="alert alert-danger" role="alert">
                                Aún no hay personas inscritas :D
                            </div>
                       </div>
                    {% endif %}
                    </div>
                    <div class="row">
                        {% for participant in participants %}
                            <div class="col-12 col-md-6">
                                <div class="card">
                                    <div class="card-body d-flex flex-row align-items-center justify-content-between">
                                        <h5 class="card-title">{{ participant.user.first_name }} {{ participant.user.last_name }}</h5>
                                        <div class="avata d-flex flex-column align-items-center justify-content-betweenr">
                                            <img src="{% if participant.user.information %}{{participant.user.information.photo.url}}{% else %}https://www.seekpng.com/png/detail/41-410093_circled-user-icon-user-profile-icon-png.png{% endif %}" alt="{{user.username}}" class="rounded-circle" width="40" height="40" > 
                                            <h6 class="card-subtitle"><a href="{% url 'profile' participant.user.pk %}" class="text-dark">@{{ participant.user.username }}</a></h6>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                     
                                            
                                        <h6 class="card-subtitle col">{{participant.get_rol_display}}
                                    
                                        {% if participant.virtualroom.creator == user %}
                                    
                                            <a href="{% url 'setstatusenrolled' participant.virtualroom.pk 'expulsed' participant.user.pk %}" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Expulsar" id="expulsar">
                                            <i class="bi bi-slash-circle-fill"></i></a>
                                            
                                        
                                            {% if participant.get_rol_display == "Estudiante" %}
                                                <a href="{% url 'setstatusenrolled' participant.virtualroom.pk 'to-teacher' participant.user.pk %}" class="text-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Ascender a profesor" id="ascender">
                                                <i class="bi bi-arrow-up-circle-fill" ></i></a>
                                               
                                            {% else %}
                                                <a href="{% url 'setstatusenrolled' participant.virtualroom.pk 'to-student' participant.user.pk %}" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Cambiar a estudiante" id="descender">
                                                <i class="bi bi-arrow-down-circle-fill"></i></a>
                                                
                                            {% endif %}


                                        {% endif %}
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if virtualroom.creator == user or enrollment.rol == 1 %}
<!-- agregar evaluación -->
<div class="modal fade" id="addEvaluation" tabindex="-1" aria-labelledby="addEvaluationLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEvaluationLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{% url 'createevaluation' virtualroom.pk %}" method="post">
      <div class="modal-body">
        {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label">Nombre de la evaluación</label>
                <input type="text" class="form-control" required id="name" name="name">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Descripción</label>
                <textarea class="form-control" id="description" name="description" rows="2"></textarea>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Crear evaluación</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% endif %}

{% endblock content_only_enrollments %}