{% extends 'base_ws.html' %}
{% load bootstrap5 %}
{% load static %}

{% block head_css %}
<link rel="stylesheet" href="{% static 'css/virtualrooms.css' %}">
{% endblock head_css %}

{% block title %}|{{ virtualroom.name }}{% endblock title %}

{% block scripts_tags %}{% endblock scripts_tags %}

{% block element_nav %}

<!-- Button trigger modal -->
<a class="nav_link" data-bs-toggle="modal" data-bs-target="#addSection">
  <i class='bx bx-message-square-add bx-sm'></i> <span class="nav_name">Crear sección</span>
</a>

{% endblock element_nav %}

{% block content %}
<div class="modal fade" id="addSection" tabindex="-1" aria-labelledby="addSectionLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addSectionLabel">Crear sección</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    <form action="{% url 'createseccion' %}" method="post">
      <div class="modal-body">
            <div class="mb-3">
            {% csrf_token %}
                <input type="hidden" name="pk_vr" value="{{virtualroom.pk}}">
                <label for="name" class="form-label">Nombre de la sección</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Crear sección</button>
      </div>
    </form>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card bg-dark text-white">
                <img src="{{ virtualroom.photo.url }}" class="card-img" alt="virtualroom.name" height="250">
                <div class="card-img-overlay">
                    <h5 class="card-title">{{ virtualroom.name }}</h5>
                    <p class="card-text">{{ virtualroom.description }}.</p>
                    <p class="card-text">Creado el: {{ virtualroom.creation_date }}</p>
                    <p class="card-text">Creado por: {{ virtualroom.creator }}</p>
                    <div class="d-flex flex-row-reverse">
                        <div class="dropdown">
                        <button class="btn bg-primario text-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            {{enrollmentStatus}}
                        </button>
                        {% if virtualroom.creator == user %}
                        <ul class="dropdown-menu" aria-labelledby="virtualroomsoptions">
                            <li><a class="dropdown-item" href="{% url 'virtualroom_update' virtualroom.pk %}">Editar</a></li>
                            <li><a class="dropdown-item" href="{% url 'virtualroom_archive' virtualroom.pk %}">{% if archived %}Desarchivar{% else %}Archivar{% endif %}</a></li>
                            <li><a class="dropdown-item" href="{% url 'virtualroom_delete' virtualroom.pk %}">Eliminar</a></li>
                        </ul>
                        {% elif enrollmentStatus == "No matriculado" %}
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="{% url 'setstatusenrolled' virtualroom.pk 'enroll' user.pk %}">Enviar solicitud</a></li>
                            </ul>
                        {% elif enrollmentStatus == "Ya eres miembro"  %}
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="{% url 'setstatusenrolled' virtualroom.pk 'retired' user.pk %}">Abandonar el grupo</a></li>
                            </ul>
                        {% elif  enrollmentStatus == "Solicitud rechazada" or enrollmentStatus == "Abandonastes del grupo"  %}
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="{% url 'setstatusenrolled' virtualroom.pk 'enrollagain' user.pk %}">Enivar la solicitud otra vez</a></li>
                            </ul>
                        {% elif  enrollmentStatus == "Expulsado del grupo" %}
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li>XD (espera a que te inviten)</li>
                            </ul>
                        {% elif enrollmentStatus == "Solicitud pendiente de que la acepten"  %}
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="{% url 'setstatusenrolled' virtualroom.pk 'cancel' user.pk %}">Cancelar</a></li>
                            </ul>
                        {% endif %}
                        </div>                  
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Inicio</button>
                </li>
                <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Notas</button>
                </li>
                <li class="nav-item" role="presentation">
                <button class="nav-link" id="participants-tab" data-bs-toggle="tab" data-bs-target="#participants" type="button" role="tab" aria-controls="participants" aria-selected="false">Participantes</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="container m-1">
                <div class="row">
                    <div class="col-12">
                        {% if not virtualroom.sections.all %}
                        <div class="alert alert-danger" role="alert">
                        Esta clase no tiene secciones
                        </div>
                        {% endif %}
                    </div>
                    {% for section in virtualroom.sections.all %}
                    <div class="col-12">
                        <div class="d-flex flex-row"><h3>{{section.name}}</h3>
                        <!-- Button trigger modal -->
                            <span class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTopicS{{ section.pk }}">
                            Agregar Tema
                            </span>
                        </div>
                            <!-- Modal -->
                            <div class="modal fade" id="addTopicS{{ section.pk }}" tabindex="-1" aria-labelledby="addTopicS{{ section.pk }}Label" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addTopicS{{ section.pk }}Label">Agregar tema</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form action="{% url 'createtopic' section.pk %}" method="post" enctype='multipart/form-data'>
                                    <div class="modal-body">
                                        {% csrf_token %}
                                        {% bootstrap_form formAddTopic %}
                                        {% bootstrap_form formAddTopicFields %}
                                        
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </form>
                                </div>
                            </div>
                            </div>
                        <hr>
                        <div class="container">
                            <div class="row">
                                {% for topic in section.topics.all %}
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <h2 class="card-title">
                                                    {{topic.name}}
                                                </h2>
                                                <p class="card-text">
                                                    {{topic.description}}
                                                    
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>
                </div>

                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Profile</div>
                <div class="tab-pane fade" id="participants" role="tabpanel" aria-labelledby="participants-tab">
                <div class="container m-2">
                    <div class="row">
                    {% if not participants %}
                       <div class="col-12">
                            <div class="alert alert-danger" role="alert">
                                Aún no hay personas inscritas :D
                            </div>
                       </div>
                    {% endif %}
                        {% for participant in participants %}
                            <div class="col-12 col-md-6">
                                <div class="card">
                                   <div class="card-body d-flex flex-row align-items-center justify-content-between">
                                        <h5 class="card-title">{{ participant.user.first_name }} {{ participant.user.last_name }}</h5>
                                        <div class="avata d-flex flex-column align-items-center justify-content-betweenr">
                                            <img src="{% if participant.user.information %}{{participant.user.information.photo.url}}{% else %}https://www.seekpng.com/png/detail/41-410093_circled-user-icon-user-profile-icon-png.png{% endif %}" alt="{{user.username}}" class="rounded-circle" width="40" height="40" > 
                                            <h6 class="card-subtitle">@{{ participant.user.username }} </h6>
                                        </div>
                                    </div>
                                    <div class="card-body d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="card-subtitle">{{participant.get_rol_display}}</h6>
                                        {% if participant.virtualroom.creator == user %}
                                        <a href="{% url 'setstatusenrolled' participant.virtualroom.pk 'retired' participant.user.pk %}" class="btn btn-danger">Expulsar</a>
                                            {% if participant.get_rol_display == "Estudiante" %}
                                                <a href="{% url 'setstatusenrolled' participant.virtualroom.pk 'to-teacher' participant.user.pk %}" class="btn btn-danger">Ascender a profesor</a>
                                            {% else %}
                                                <a href="{% url 'setstatusenrolled' participant.virtualroom.pk 'to-student' participant.user.pk %}" class="btn btn-danger">Cambiar a estudiante</a>
                                            {% endif %}

                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
var triggerTabList = [].slice.call(document.querySelectorAll('#myTab'))
triggerTabList.forEach(function (triggerEl) {
  var tabTrigger = new bootstrap.Tab(triggerEl)

  triggerEl.addEventListener('click', function (event) {
    event.preventDefault()
    tabTrigger.show()
  })
})
</script>
{% endblock content %}

