.bg-primario{background-color: var(--primary) !important;}
.bg-secundario{background-color: var(--secondary) !important;}
.bg-emphasis{background-color: var(--emphasis) !important;}
.bg-claroHover{background-color: var(--claroHover) !important;}
.bg-claro{background-color: var(--claro) !important;}

.text-primario{color: var(--primary) !important;}
.text-secundario{color: var(--secondary) !important;}
.text-emphasis{color: var(--emphasis);}
.text-claroHover{color: var(--claroHover) !important;}
.text-claro{color: var(--claro) !important;}