body{
    background: url('https://docere-ni.s3.amazonaws.com/assets-root/static/img/bg-login.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .container.login{
        margin-top: 20vh;

    }
    .container.register{
        margin-top: 10vh;
    }
    .container.logged-out{
        margin-top: 25vh;
    }
}