body{
    background: url('/static/img/bg-login.jpg')no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .container{
        margin-top: 20vh;

        .card{
            background-color: rgba(255,255,255,0.3);
            
        }
    }
}