@import 'global';
@import 'index';
.card-body>.encabezado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card-img-overlay{
    background-color: rgba(10, 22, 38,0.6);
}